body{
    font-size: 14px;
    font-family: arial;
    line-height: 23px;
}


#wrapper{
    width: 960px;
    margin: 0px auto;
}

#header{
    position: relative;
    text-align: center;
}

#logo{
    display: inline-block;
    padding: 20px 10px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

#user-welcome{
    position: absolute;
    top: 10px;
    right: 10px;
}


#footer{
    background: #029ef3;
}

ul#main-menu{
    text-align: center;
    background: #029ef3;
}

ul#main-menu li{
    display: inline-block;

}
ul#main-menu li a{
    display: block;
    padding: 8px 15px;
    color: #fff;
}

#content{
    min-height: 600px;
    padding: 20px 0px;
}

#footer{
    text-align: center;
    color: #fff;
    padding: 8px 0;
}