        
        /* Global CSS thường chứa các class đơn giản */
.text-center{
    text-align: center;
}


a{
    text-decoration: none;
}

.container{
    max-width: 960px;
    margin: 0px auto;
}

.clearfix::after {
    content: "abc";
    display: block;
    clear: left;
    visibility: hidden;
    height: 0;
}